.dvs-datepicker-skin {
  width:280px;

  &.ui-widget {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background: rgba(darken(invert($sidebar-bg), 10%), 1);
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }

  &.ui-datepicker {
    padding: 0;

    .ui-datepicker-title {
      margin-top: .4em;
      margin-bottom: .3em;
      color: #e9f0f4;
      text-align:center;
    }

    .ui-datepicker-prev-hover,
    .ui-datepicker-next-hover,
    .ui-datepicker-next,
    .ui-datepicker-prev {
      position:absolute;
      top: .9em;
      border:none;
      width:20px;
      height:20px;
    }

    .ui-datepicker-prev-hover {
      left: 2px;
    }

    .ui-datepicker-next,
    .ui-datepicker-next-hover {
      right: 2px;
    }

    .ui-datepicker-next,
    .ui-datepicker-prev, {
      span {
        background-image: url(../../img/ui-icons_ffffff_256x240.png);
        background-position: -32px 0;
        margin-top: 0;
        top: 0;
        font-weight: normal;
      }
    }

    .ui-datepicker-prev span {
      background-position: -96px 0;
    }

    table {
      margin: 0;
    }

    th {
      padding: 1em 0;
      color: #ccc;
      font-size: 12px;
      font-weight: normal;
      border: none;
      border-top: 1px solid #3a414d;
    }

    td {
      background: saturate(invert($sidebar-bg), 30%);
      border: none;
      padding: 0;
    }
  }

  .ui-datepicker-header {
    border: none;
    background: transparent;
    font-weight: normal;
    font-size: 13px;

    .ui-state-hover {
      background: transparent;
      border-color: transparent;
      cursor: pointer;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
    }
  }

  td {
    .ui-state-default {
      background: transparent;
      border: none;
      text-align: center;
      padding: .5em;
      margin: 0;
      font-weight: normal;
      color: #efefef;
      font-size: 12px;
    }

    .ui-state-active,
    .ui-state-hover {
      background: #2e3641;
    }
  }

  .ui-state-disabled  {
    opacity: 1;

    .ui-state-default {
      color: lighten(saturate(invert($sidebar-bg), 30%), 10%);
    }
  }
}