#devise-documentation-container
{
	h1 {
		padding: 0;
		font-size: 16px;
	}

	h2 {
		padding: 0;
		font-size: 15px;
	}

	h3 {
		padding: 0;
		font-size: 14px;
	}

	h4 {
		padding: 0;
		font-size: 13px;
	}

	p {
		margin-top: 10px;
		margin-bottom: 10px;
    font-size: 12px;
  }

  ul, ol {
    padding-left:24px;
    font-size: 12px;
  }

  ol {
    list-style-type:lower-hexadecimal;

    li {
      margin-bottom:10px;
    }
  }

  ul {
    display: list-item;
    text-align: -webkit-match-parent;

    li {
      margin:0 0 10px 10px;
    }
  }
}

.dvs-document-button:before {
	content: '?';
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}