<div class="js-datepickers hidden">
    <span>Show live<span>

    <input type="text" name="starts_at" value="03/20/15 19:27:01" placeholder="Start Date" class="js-datepicker js-start-date" style="line-height: 20px;">

    <span>thru</span>

    <input type="text" name="ends_at" value="never ends" placeholder="End Date" class="js-datepicker js-end-date" style="line-height: 20px;">

    <button data-url="http://localhost:9000/admin/page-versions/100/dates" class="js-update-dates btn">Update</button>
</div>