
#dvs-nodes {
  opacity: 0;

  @include transition(opacity 2s);
}

.dvs-node {
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 10004;
  color: black;

  @include transition(all 0.5s);
}

.dvs-node-mode {

  #dvs-node-mode-button {
    height: 45px;
    color:#424242;
    background-color:transparentize(#ffffff, 0.3);
    box-shadow: 0 0 6px transparentize(#000000, 0.8);
  }

  #dvs-sidebar {
    @include transform(translate3d(-100%, 0, 0));
  }

  #dvs-pusher {
    @include transform(translate3d(0, 0, -300px));
  }

  #dvs-content {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  }

  #dvs-sidebar {
    opacity: 0;
  }

  #dvs-blocker {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
  }

  #dvs-nodes {
    opacity: 1;

    .dvs-node {
      height: 120px;
      width: auto;
      color:#222;
      overflow: hidden;

      .dvs-node-inner-wrapper {
        position: absolute;
        top: -50px;
        width: 460px;
      }

      svg {
        position: relative;
        z-index: 1;
        width:470px;
      }

      > span {
        font-family: $sidebarMainFont;
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        position: relative;
        z-index: 10;

        .count {
          text-align:center;
          display:none;
          background-color:transparentize(black, 0.2);
          border-radius: 10px;
          min-width:20px;
          color:#fff;
          font-weight:400;
          margin-left:5px;
        }
      }

      &.left {
        left: 0px;

        .dvs-node-inner-wrapper {
          top: 0;
          right: 0px;
        }

        .svg-node-arrow {
          fill: url(#svg-node-arrow-left-gradient);
        }

        > span {
          position: relative;
          padding: 0 40px 0 20px;
          top: 37px;
        }

        &:hover {
          left:-5px;
        }

        &.dvs-content-requested {
            .svg-node-arrow { fill:#ffffe0 }
        }
      }

      &.right {
        right: 1px;

        .dvs-node-inner-wrapper {
          top: 0px;
        }

        svg {
          @include transform(rotate(180deg));

          .svg-node-arrow {
            fill: url(#svg-node-arrow-right-gradient);
          }
        }

        > span {
          position: relative;
          padding: 0 20px 0 70px;
          top: 50px;
        }

        &:hover {
          right:-4px;
        }

        &.dvs-content-requested {
            .svg-node-arrow { fill:#ffffe0 }
        }
      }
    }
  }
}