.dvs-cn-wrapper {
  position: fixed;
  top: 90%;
  left: 50%;
  z-index: 60;
  margin-top: -13em;
  margin-left: -13.5em;
  width: 27em;
  height: 27em;
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  transition: all .3s ease 0.3s;
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden;

  &:after{
    color: transparent;
    content:".";
    display:block;
    font-size:2em;
    width:6.2em;
    height:6.2em;
    position: absolute;
    left: 50%;
    margin-left: -3.1em;
    top:50%;
    margin-top: -3.1em;
    border-radius: 50%;
    z-index:10;
  }

  li {
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-top: -1.3em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    transition: all .3s ease;
    transform: rotate(76deg) skew(60deg);
    transform-origin: 100% 100%;
    pointer-events: none;

    a {
      position: absolute;
      position: fixed; /* fix the "displacement" bug in webkit browsers when using tab key */
      right: -7.25em;
      bottom: -7.25em;
      display: block;
      width: 14.5em;
      height: 14.5em;
      border-radius: 50%;
      background: #2b6ed8;
      background: radial-gradient(transparent 35%, #2b6ed8 37%);
      color: #fff;
      text-align: center;
      text-decoration: none;
      font-size: 1.2em;
      line-height: 2;
      transition: all .3s ease;
      transform: skew(-60deg) rotate(-75deg) scale(1);
      pointer-events: auto;

      &:hover,
      &:focus,
      &:active {
	      background: radial-gradient(transparent 35%, #2b6ed8 37%);
      }

      &.disabled {
        background: radial-gradient(transparent 35%, rgba(0,0,0,0.1) 37%);
      }

      i {
        position: relative;
        top: 0.4em;
        display: block;
        font-size: 1.25em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

.dvs-opened-nav {
  border-radius: 50%;
  opacity: 1;
  transition: all .3s ease;
  transform: scale(1);
  pointer-events: auto;

  li {
    transition: all .3s ease .3s;

    &:first-child {
      transform: rotate(-20deg) skew(60deg);
    }

    &:nth-child(2) {
      transform: rotate(12deg) skew(60deg);
    }

    &:nth-child(3) {
      transform: rotate(44deg) skew(60deg);
    }

    &:nth-child(4) {
      transform: rotate(76deg) skew(60deg);
    }

    &:nth-child(5) {
      transform: rotate(108deg) skew(60deg);
    }

    &:nth-child(6) {
      transform: rotate(140deg) skew(60deg);
    }

    &:nth-child(7) {
      transform: rotate(172deg) skew(60deg);
    }
  }
}
//
// .dvs-cn-wrapper li {
//   position: absolute;
//   font-size: 1.5em;
//   width: 10em;
//   height: 10em;
//   -webkit-transform-origin: 100% 100%;
//   -moz-transform-origin: 100% 100%;
//   -ms-transform-origin: 100% 100%;
//   transform-origin: 100% 100%;
//   overflow: hidden;
//   left: 50%;
//   top: 50%;
//   margin-top: -1.3em;
//   margin-left: -10em;
//   -webkit-transition: border .3s ease;
//   -moz-transition: border .3s ease;
//   transition: border .3s ease;
// }
//
// .dvs-cn-wrapper li a {
//   display: block;
//   font-size: 1.18em;
//   height: 14.5em;
//   width: 14.5em;
//   position: absolute;
//   bottom: -7.25em;
//   right: -7.25em;
//   border-radius: 50%;
//   text-decoration: none;
//   color: #fff;
//   padding-top: 1.8em;
//   text-align: center;
//   -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
//   -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
//   -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
//   transform: skew(-50deg) rotate(-70deg) scale(1);
//   -webkit-backface-visibility: hidden;
//   -webkit-transition: opacity 0.3s, color 0.3s;
//   -moz-transition: opacity 0.3s, color 0.3s;
//   transition: opacity 0.3s, color 0.3s;
// }
//
// .dvs-cn-wrapper li a span {
//   font-size: 1.1em;
//   opacity: 0.7;
// }
//
// /* for a central angle x, the list items must be skewed by 90-x degrees
// in our case x=40deg so skew angle is 50deg
// items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */
//
// .dvs-cn-wrapper li:first-child {
//   -webkit-transform: rotate(-10deg) skew(50deg);
//   -ms-transform: rotate(-10deg) skew(50deg);
//   -moz-transform: rotate(-10deg) skew(50deg);
//   transform: rotate(-10deg) skew(50deg);
// }
//
// .dvs-cn-wrapper li:nth-child(2) {
//   -webkit-transform: rotate(30deg) skew(50deg);
//   -ms-transform: rotate(30deg) skew(50deg);
//   -moz-transform: rotate(30deg) skew(50deg);
//   transform: rotate(30deg) skew(50deg);
// }
//
// .dvs-cn-wrapper li:nth-child(3) {
//   -webkit-transform: rotate(70deg) skew(50deg);
//   -ms-transform: rotate(70deg) skew(50deg);
//   -moz-transform: rotate(70deg) skew(50deg);
//   transform: rotate(70deg) skew(50deg)
// }
//
// .dvs-cn-wrapper li:nth-child(4) {
//   -webkit-transform: rotate(110deg) skew(50deg);
//   -ms-transform: rotate(110deg) skew(50deg);
//   -moz-transform: rotate(110deg) skew(50deg);
//   transform: rotate(110deg) skew(50deg);
// }
//
// .dvs-cn-wrapper li:nth-child(5) {
//   -webkit-transform: rotate(150deg) skew(50deg);
//   -ms-transform: rotate(150deg) skew(50deg);
//   -moz-transform: rotate(150deg) skew(50deg);
//   transform: rotate(150deg) skew(50deg);
// }
//
// .dvs-cn-wrapper li:nth-child(odd) a {
//   background-color: #a11313;
//   background-color: hsla(0, 88%, 63%, 1);
// }
//
// .dvs-cn-wrapper li:nth-child(even) a {
//   background-color: #a61414;
//   background-color: hsla(0, 88%, 65%, 1);
// }
//
// /* active style */
// .dvs-cn-wrapper li.active a {
//   background-color: #b31515;
//   background-color: hsla(0, 88%, 70%, 1);
// }
//
//
// /* hover style */
// .dvs-cn-wrapper li:not(.active) a:hover,
// .dvs-cn-wrapper li:not(.active) a:active,
// .dvs-cn-wrapper li:not(.active) a:focus {
//   background-color: #b31515;
//   background-color: hsla(0, 88%, 70%, 1);
// }
// .dvs-cn-wrapper li:not(.active) a:focus
// {
//     position:fixed;
// }
//
//
// /* fallback */
// .dvs-cn-button {
//   display: none;
// }
//
// .dvs-cn-wrapper li {
//   position: static;
//   float: left;
//   font-size: 1em;
//   height: 5em;
//   width: 5em;
//   background-color: #eee;
//   text-align: center;
//   line-height: 5em;
// }
//
// .dvs-cn-wrapper li a {
//   display: block;
//   width: 100%;
//   height: 100%;
//   text-decoration: none;
//   color: inherit;
//   font-size: 1.3em;
//   border-right: 1px solid #ddd;
// }
//
// .dvs-cn-wrapper li a:last-child {
//   border: none;
// }
//
// .dvs-cn-wrapper li a:hover,
// .dvs-cn-wrapper li a:active,
// .dvs-cn-wrapper li a:focus {
//   background-color: white;
// }
//
// .dvs-cn-wrapper li.active a {
//   background-color: #6F325C;
//   color: #fff;
// }
//
// .dvs-cn-wrapper {
//   font-size: 1em;
//   height: 5em;
//   width: 25.15em;
//   bottom: 0;
//   margin-left: -12.5em;
//   overflow: hidden;
//   position: fixed;
//   z-index: 50;
//   left: 50%;
//   border: 1px solid #ddd;
// }
//
// @media screen and (max-width:480px) {
//   .dvs-cn-wrapper {
//     font-size: .68em;
//   }
//
//   .dvs-cn-button {
//     font-size: 1em;
//   }
//
//   .dvs-cn-wrapper li {
//     font-size: 1.52em;
//   }
// }
//
// @media screen and (max-width:320px) {
//   .dvs-cn-wrapper {
//     width: 15.15px;
//     margin-left: -7.5em;
//   }
//
//   .dvs-cn-wrapper li {
//     height: 3em;
//     width: 3em;
//   }
// }
