#devise-container {
  @apply dvs-font-sans dvs-w-full dvs-flex dvs-flex-row-reverse;
}

#devise-admin-open {
  @apply dvs-fixed dvs-pin-t dvs-pin-l dvs-opacity-75 dvs-cursor-pointer dvs-ml-8 dvs-my-4;

  text-shadow: 0 0 12px rgba(0,0,0,0.5);
  z-index:99999;

  svg {
    @apply dvs-cursor-pointer;
    fill:white;
    filter: drop-shadow(0 0 12px rgba(0,0,0,0.5));  
  }

  .dvs-gear-2 {
    @apply dvs-text-base dvs-absolute;
    top: 20px;
    right: -10px;
  }

  &:hover {
    @apply dvs-opacity-100;

    .dvs-gear-1,
    .dvs-gear-2 {
      animation-name: spinClockwise;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .dvs-gear-2 {
      animation-name: spinCounterClockwise;
    }
  }
}

@keyframes spinClockwise { 
  from { 
    transform: rotate(0deg); 
  } to { 
    transform: rotate(360deg); 
  }
}


@keyframes spinCounterClockwise { 
  from { 
    transform: rotate(0deg); 
  } to { 
    transform: rotate(-360deg); 
  }
}

#devise-admin {
  @apply dvs-z-30 dvs-fixed dvs-pin-l dvs-pin-t dvs-pin-b dvs-overflow-scroll dvs--ml-px;

  // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  
  width:25%;
}

#devise-admin-shim {
  @apply dvs-bg-white;

  width:25%;

  transition: width 0.5s ease-out, min-width 0.5s ease-out;
}

.devise-content {
  @apply dvs-z-10 dvs-relative dvs-min-h-screen;

  // Trap any fixed content
  transform: translate(0, 0);

  width:100%;
}

#devise-responsive-preview {
  
  transform: translate(0, 0);
  transition: width 0.2s ease-out, height 0.2s ease-out, margin 0.2s ease-out;

  &.tablet {
    @apply dvs-shadow-lg dvs-my-8 dvs-rounded;

    width:768px;
    height:1024px;
  }

  &.mobile-landscape {
    @apply dvs-shadow-lg dvs-my-12 dvs-rounded;

    width:600px;
    height:320px;
  }

  &.mobile-portrait {
    @apply dvs-shadow-lg dvs-my-10 dvs-rounded;

    width:320px;
    height:600px;
  }
}

#dvs-app-content {
  width: 75%;

  transition: width 0.1s ease-out;
}

#devise-in-page-analytics {
  width: calc(100% - 550px);

  transition: opacity 0.5s ease-out;
}

.admin-closed { 
  #dvs-app-content {
    width: 100%;
  }
}

#devise-container {
  &.admin-closed {

    #devise-admin-shim {
      @apply dvs-min-w-0;
      width: 0px;
    }

    #devise-in-page-analytics {
      opacity:0;
    }
  }

  #devise-user {
    > div {
      width: 100%;
      height:99px;

      :first-child {
        @apply dvs-w-3/4;
      }
      :nth-child(2) {
        @apply dvs-w-1/4 dvs-justify-center;
      }
    }
  }

  &.preview-frame {
    .devise-content {
      width:100vw;
      min-height:auto
    }
  }

  &.wide-admin {
    #devise-admin {
      @apply dvs-w-full
    }

    #devise-admin-shim {
      @apply dvs-w-full;
    }

    #devise-content {
      display:none;
    }
  }
}

#devise-sidebar {
  @apply dvs-p-8 dvs-fixed dvs-pin-l dvs-pin-b dvs-pin-t dvs-z-20 dvs-text-center;
  
  width:25%;
}

#devise-menu-current-user {
  bottom:0;
  left:0;
  right:0;
}

#devise-iframe-editor {
  @apply dvs-flex dvs-justify-center dvs-items-center;
}

#devise-admin-content {
  padding: 5rem;
  width: 75%;

  &.bottom-padding-16 {
    padding-bottom:20em;
  }
}

#devise-preview-content {
  @apply dvs-z-10 dvs-absolute dvs-pin-t dvs-pin-r dvs-pin-b;

  width: 75%;
}

#devise-preview-iframe {
  height: 100vh;
}

.dvs-no-scroll {
  overflow:hidden;
  height:100vh;
}

