@tailwind preflight;

@tailwind components

@import "./badges";
@import "./blocker";
@import "./buttons";
@import "./cards";
@import "./circle-nav";
@import "./colors";
@import "./color-picker";
@import "./container";
@import "./forms";
@import "./help";
@import "./lists";
@import "./loadbar";
@import "./messages";
@import "./media-manager";
@import "./modal";
@import "./panels";
@import "./positions";
@import "./tables";
@import "./tags";
@import "./template-editor";
@import "./tooltips";
@import "./transform";
@import "./transitions";
@import "./typography";
@import "./wysiwyg";

@tailwind utilities;

@import "./../../node_modules/vue-ionicons/ionicons.scss";
@import "./../../node_modules/simplebar/dist/simplebar.css";