.dvs-collapsable {
   @apply dvs-opacity-25

  .dvs-switch-sm,
  .dvs-switch {
    @apply dvs-cursor-pointer;
  }

  > .dvs-collapsed {
    @apply dvs-hidden dvs-h-0;
  }

  &.dvs-open {
    > .dvs-collapsed {
      @apply dvs-block dvs-h-auto dvs-opacity-100;
    }
  }
}

.dvs-open {
  > .dvs-collapsable {
    > .dvs-collapsed {
      @apply dvs-block dvs-h-auto dvs-opacity-100;
    }
  }
}