.media-manager {
  @apply dvs-absolute dvs-absolute-center dvs-bg-white dvs-z-60 dvs-rounded;

  .media-manager-interface {
    @apply dvs-flex dvs-flex-col dvs-items-stretch;

    max-height:70vh;
    width:90vw;
  }

  .dropzone {
    @apply dvs-flex;
    min-height:0;

    .dz-error,
    .dz-complete {
      @apply dvs-absolute dvs-pin-t dvs-pin-r dvs-bg-white dvs-shadow dvs-p-4 dvs-rounded-sm dvs-mt-11 dvs-mr-4;
    }
  }

  .dvs-grid-preview {

    @apply dvs-bg-cover dvs-overflow-hidden dvs-bg-center dvs-w-full;

    height:300px;
  }
}
