.dvs-panel {
  @apply dvs-relative;

  float:left;
  background-color: rgba(255,255,255,0);
  
  &:hover {
    .dvs-panel-contents {
      &:after {
        opacity:1;
      }
    }
  }
}

.dvs-panel-shine-container {
  @apply dvs-absolute dvs-pin dvs-z-50 dvs-pointer-events-none;

  overflow:hidden;
}

.dvs-panel-shine {
  @apply dvs-absolute dvs-pin dvs-pointer-events-none;

  width:3000px;
  height:3000px;

  background:radial-gradient( rgba(255,255,255,0.2), rgba(255,255,255,0) 1000px);
}

.dvs-panel-contents {
  @apply dvs-relative dvs-rounded dvs-text-white;

  &:after {
    @apply dvs-absolute dvs-pin dvs-pointer-events-none;

    content: '';
    opacity:1;
    box-shadow: 
      0 20px 70px -10px rgba(51, 51, 51, 0.7), 
      0 50px 100px 0 rgba(51, 51, 51, 0.2);
    transition: opacity 1000s;
  }
}