#dvs-admin {

	.alert,
	.dvs-messages {
	  background-color   : darken($bodyBgColor, 10%);
	  border             : 1px solid lighten($bodyBgColor, 5%);
	  padding            : 30px;
	  color              : $white;
	  text-shadow        : 0 0 2px transparentize(black, 0.8);

	  h1,h2,h3,h4,h5,h6 {
	  	color            : $white;
	  	font-size        : 18px;
	  	font-weight      : 600;
	  }

	  &.alert-danger {
	  	background-color : $red;
	  	border           : 1px solid lighten($red, 5%);
	  }

	  &.alert-success {
	  	background-color : $green;
	  	border           : 1px solid lighten($green, 5%);
	  }
	}

}

