#dvs-admin-sidenav {
  float:left;
  width:25%;
  height:100%;
  padding:0 5%;
  box-sizing:border-box;

  h5 {
    color:$sidenavTitleColor;
    font-weight:bold;
  }

  .dvs-admin-links {

    margin:12px 0 40px 0;

    li {
      line-height:40px;
      color:$sidenavLinkColor;

      a {
        display:block;
        color:$sidenavLinkColor;
        text-decoration:none;

        &.dvs-active,
        &:active,
        &:hover { color:$sidenavActiveLinkColor }
      }
    }
  }
}

#dvs-admin-body {
  position:relative;
  float:left;
  width:70%;
  margin:0 5% 100px 0;
}


#dvs-admin {
  background-color:$bodyBgColor;
  color:$bodyTitleColor;
  font-size:$bodyMainFontSize;
  font-family:$bodyMainFont;
  font-weight:$bodyMainFontWeight;
  line-height:1;

  h1,h2,h3,h4,h5,h6 {
    font-size:42px;
    font-weight:600;
    color:darken($white, 5%);
  }

  h1 { font-weight:100; }
  h2 { font-size:36px; font-weight:300; }
  h3 { font-size:28px; font-weight:300; }
  h4 { font-size:22px; font-weight:400; }
  h5 { font-size:18px; }
  h6 { font-size:16px; }

  p  { line-height:1.8em; }

  hr {
    margin:20px auto;
    border-color:lighten($bodyBgColor, 8%);
    border-style:solid;
    border-width:0;
    border-bottom-width:1px;

    &.dvs-thick { border-bottom-width:2px }
  }

  code {
    line-height:1.5em;
  }

  .dvs-admin-items-wpr {
    width:100%;
    margin:30px auto;
    float:left;

    > h4 {
        margin-bottom:12px;
        color:#919191;
        font-size:$bodyMainFontSize + 2;
        font-weight: 600;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    table.dvs-admin-items {
      width:100%;

      tr td.dvs-form-group {
        padding:20px 2%;

        input {
            width:20%;
            padding:6px 7px;

            &:nth-of-type(1n) { width:18% }
            &:nth-of-type(2n) { width:42% }
        }
      }
    }
  }

  .dvs-secondary-text {
    padding-top:10px;
    font-size:$bodyMainFontSize - 2;
  }

  a:not(.dvs-button) {
    color:$blue;
  }

  #dvs-admin-body {
    h3 {
      margin-top:150px;
      color: lighten($bodyBgColor, 15%);
      text-transform: uppercase;
      text-align:center;
      text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0px;
      font-size:22px;
    }

    form {
      h3 {
        margin-top:30px;
        text-align:left;
        color:#fff;
      }
    }

  }
}

/* Dashboard */
#dvs-admin {
  .dvs-flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  .dvs-admin-card {
    float:left;
    position:relative;
    width:30%;
    margin:20px 1.5%;
    color:$dashboardCardTitleColor;
    background-color:lighten($bodyBgColor, 2%);
    border:1px solid lighten($bodyBgColor, 5%);
    border-radius:2px;
    cursor:pointer;
    transition: all 0.5s;
    overflow:hidden;

    .dvs-card-top {
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
      transition: all 0.5s;

      span {
        display:block;
        width:100%;
        height:100%;
        text-align:center;
        color:$white;
        font-size:90px;
        line-height:300px;
      }
    }

    .dvs-card-bottom {
      position:relative;
      padding:40px 20px 25px;
      height:40%;
      text-align:center;

      .dvs-icon {
        position:absolute;
        top: -23px;
        left: 50%;
        margin-left:-23px;
        background-color:$white;
        color:$green;
        width:46px;
        height:46px;
        border-radius: 23px;
        font-size:36px;
        text-align:center;
        line-height:46px;
      }

      p {
        margin-top:12px;
        color:$dashboardCardTextColor;
        line-height:20px;
        transition: all 0.5s;
      }
    }

    &:hover {
      background-color:$green;
      border-color:darken($green, 10%);

      h3, p, label {
        color:#fff;
      }
    }

    &.wide {
      width:63%;
    }

    &.tall {
      .dvs-card-top {
        height:470px;
      }
    }

    &.dvs-page-versions-card {
      p {
        font-size:12px;
      }

      .dvs-card-top {
        height:10px;
        background-color:$blue;
      }

      &.live-card {
        .dvs-card-top {
          background-color:$green;
        }

        &:hover {
          background-color:$green;
        }
      }

      .dvs-card-bottom {
        h4 {
          font-size:18px;
          @include wrapTextInParent();
        }

        .dvs-badge {
          color:$white;
        }

        .dvs-select-wrapper {
          margin-top:10px;
          font-size:9px;
        }
      }

      &:hover {
        background-color:$blue;

        .dvs-select-wrapper {
          border-color:$white;
          color:$white;
        }
      }
    }
  }
}


#dvs-admin-title {
  clear:both;
  padding:15px 5%;
  text-align:left;
  background-color:lighten($bodyBgColor, 10%);

  h1 {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: lighten($bodyBgColor, 60%);
    font-size:16px;
    font-weight:300;
    text-transform: uppercase;

    span {
      margin-right:8px;
      font-size:18px;
      color: lighten($bodyBgColor, 30%);
    }
  }
}


#dvs-admin-subnavigation {
  @include clearfix;
  margin-bottom:75px;
  text-align:right;
  background-color:lighten($bodyBgColor, 20%);
  padding:8px 5%;
}

#dvs-admin-actions {
  text-align:right;

  .dvs-button {
    clear:none;
    float:right;
    width:auto;
    border-color:lighten($bodyBgColor,40%);
    background-color:lighten($bodyBgColor, 5%);
    color: lighten($bodyBgColor, 60%);
    font-size:9px;
    padding:8px 12px 7px;

    &:hover {
      background-color:lighten($bodyBgColor, 15%);
      color: lighten($bodyBgColor, 70%);
    }
  }

  a {
    clear:both;
    margin-left:8px;
  }

  select {
    clear:both;
  }

  .dvs-select-wrapper {
    float:right;
    width:auto;
    padding:5px 30px 6px 6px;
    font-size:10px;
    margin-left:8px;

    select {
      top:0;
      bottom:0;
      left:0;
      right:0;
      height:100%;
      -webkit-appearance:none; /* Important for Macs */
    }

    .dvs-holder {
      background-color:transparent;
    }

    &:after {
      top:43%;
    }
  }
}

.dvs-inset-text {
  @include insetFormDude();
  max-width:300px;
  overflow:hidden;

  a {
    color:$red;
  }
}

.dvs-opaque-text {
  opacity:0.5;
}

.dvs-admin-container {
  position:relative;
  margin:0 auto;
  @include clearfix;

  background-image:linear-gradient(lighten($bodyBgColor, 5%), $bodyBgColor)
}

/* Tables */
table.dvs-admin-table {
  margin:0 0 50px;
  width:100%;
  font-size:13px;
  box-shadow:0 2px 12px 6px rgba(0,0,0,.1);
  border-radius:4px;
  @include background(linear-gradient($secondaryTableBgColor, $primaryTableBgColor));

  thead {

    border-radius:3px;

    th, th a {
      color:darken($tableTextColor, 10%);
      text-decoration:none;
      text-transform: uppercase;
    }

    th {
      padding:15px 20px;
      border-bottom:1px solid lighten($primaryTableBgColor, 8%);
      vertical-align: middle;
      font-size:12px;
    }
  }

  tbody tr {
    min-height:60px;
    color:$tableTextColor;
    background-color:$primaryTableBgColor;

    &.dvs-table-row-even td {
      border-bottom:1px solid lighten($primaryTableBgColor, 4%);
    }

    &.dvs-table-row-odd td {
      background-color:$secondaryTableBgColor;
      border-bottom:1px solid darken($primaryTableBgColor, 3%);
    }

    td {
      padding:20px 30px;
      border-right:1px solid lighten($primaryTableBgColor, 4%);
      vertical-align: middle;
      white-space:nowrap;

      a:not(.dvs-button) {
        color:$blue;

        &.dvs-expand-details {
          display:inline-block;
          color:darken($blue, 20%);
          font-size:$bodyMainFontSize - 3;
          font-weight:$bodyMainFontWeight;
        }
      }

      &.dvs-stacked-col {
        div {
          margin-bottom:8px;
        }
      }
    }
  }

  tfoot td { padding:5px }

  td:last-child,
  th:last-child { border-right:0px }

  .dvs-lang-flag { margin:0 2.5px }

  input[type=text] {
    min-width:200px;
    max-width:300px;
    margin-left:10px;
    @include insetFormDude();
  }

  .dvs-publish-dates {
    p {
      margin: 10px 0;
      @include wrapTextInParent();
    }

    input[type=text] {
      width:100%;
      float:left;
      min-width : inherit;
      max-width : inherit;
      margin-left:0;
      font-size:12px;
      color:darken($french-gray, 25%);
    }

    label {
      float:left;
      margin-top:4px;
      color:$dashboardCardTextColor;
      font-size:11px;
    }

    input[type=submit] {
      margin:8px auto 12px;
      float:left;
      clear:both;
      display:block;
    }
  }

  .dvs-ab-testing-section {
    input[type=text] {
      width: 50px;
      text-align: center;
      min-width: inherit;
      max-width: inherit;
      margin-left:0;
      margin-right:0;
      font-size:12px;
      color:darken($french-gray, 25%);
    }
  }

  .dvs-badge {
    &.dvs-content-requested {
      @include clearfix;
      margin:0 auto;
      margin-bottom:20px;
      padding:6px;
      text-align:center;
      line-height:18px;
      clear:both;
    }
  }
}


.dvs-loading,
#dvs-sidebar-loading {
  font-family: $sidebarMainFont;
  line-height:1.4em;
  padding: 12px 20px;
  color: white;
  width: 200px;
  margin-left: 100px;
  background-color: transparentize(#222, 0.1);
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius:4px;
  text-align:center;
  opacity:1;
  @include transition(all 1s ease);

  &.onload {
    opacity:0;
  }
}

#dvs-sidebar-loading {
    position:absolute;
    top:225px;
    margin-left:-100px !important;
    z-index:14000;
}

.dvs-link-part {
  text-decoration: none;
  color:$bodyActiveLinkColor;
  padding:4px 4px;
  font-size:11px;
  overflow:hidden;

  &:after {
    content: "/";
    margin-left:7px;
  }

  &:first-child:after,
  &:last-child:after, {
    content:"";
    margin-left:auto;
  }

  &:first-child { border-radius: 2px 0 0 2px }
  &:last-child { border-radius: 0 2px 2px 0 }
}
