#dvs-admin-sidenav {
  float:left;
  width:25%;
  height:100%;
  padding:0 5%;
  box-sizing:border-box;

  h5 {
    color:$sidenavTitleColor;
    font-weight:bold;
  }

  .dvs-admin-links {

    margin:12px 0 40px 0;

    li {
      line-height:40px;

      a {
        display:block;
        color:$sidenavLinkColor;
        text-decoration:none;

        &.dvs-active,
        &:active,
        &:hover { color:$sidenavActiveLinkColor }
      }
    }
  }
}

#dvs-admin-body {
  position:relative;
  float:left;
  width:70%;
  margin:0 5% 100px 0;
}


#dvs-admin {
  background-color:$bodyBgColor;
  color:$bodyTitleColor;
  font-size:$bodyMainFontSize;
  font-family:$bodyMainFont;
  font-weight:$bodyMainFontWeight;

  h1,h2,h3,h4,h5,h6 {
    font-size:42px;
    font-weight:600;
    text-transform: uppercase;
    color:darken($white, 5%);
  }

  h1 { font-weight:100; }
  h2 { font-size:36px; }
  h3 { font-size:28px; }
  h4 { font-size:22px; }
  h5 { font-size:18px; }
  h6 { font-size:16px; }

  hr {
    margin:20px auto;
    border-color:darken($blue, 20%);
    border-style:solid;
    border-width:0;
    border-bottom-width:1px;

    &.dvs-thick { border-bottom-width:2px }
  }

  .dvs-admin-items-wpr {
    width:100%;
    margin:30px auto;
    float:left;

    > h4 {
        margin-bottom:12px;
        color:#919191;
        font-size:$bodyMainFontSize + 2;
        font-weight: 600;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    table.dvs-admin-items {
      width:100%;

      tr td.dvs-form-group {
        padding:20px 2%;

        input {
            width:20%;
            padding:6px 7px;

            &:nth-of-type(1n) { width:18% }
            &:nth-of-type(2n) { width:42% }
        }
      }
    }
  }

  .dvs-secondary-text {
    padding-top:10px;
    font-size:$bodyMainFontSize - 2;
  }
}

/* Dashboard */
#dvs-admin {
  .dvs-flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  .dvs-admin-card {
    float:left;
    position:relative;
    width:30%;
    margin:20px 1.5%;
    color:$dashboardCardTitleColor;
    background-color:lighten($bodyBgColor, 2%);
    border:1px solid lighten($bodyBgColor, 5%);
    border-radius:2px;
    cursor:pointer;
    transition: all 0.5s;
    overflow:hidden;

    .dvs-card-top {
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
      transition: all 0.5s;
    }

    .dvs-card-bottom {
      position:relative;
      padding:40px 20px 25px;
      height:40%;
      text-align:center;

      .dvs-icon {
        position:absolute;
        top: -23px;
        left: 50%;
        margin-left:-23px;
        background-color:$white;
        color:$green;
        width:46px;
        height:46px;
        border-radius: 23px;
        font-size:36px;
        text-align:center;
        line-height:46px;
      }

      p {
        margin-top:12px;
        color:$dashboardCardTextColor;
        line-height:20px;
        transition: all 0.5s;
      }
    }

    &:hover {
      background-color:$green;
      border-color:darken($green, 10%);

      h3, p {
        color:#fff;
      }
    }

    &.wide {
      width:63%;
    }

    &.tall {
      .dvs-card-top {
        height:470px;
      }
    }
  }
}

#dvs-admin-subnavigation {
  position:absolute;
  top:50px;
  right:5%;
  text-align:right;
}

#dvs-admin-actions {
  text-align:center;

  .dvs-button {
    clear:both;
    float:right;
    width:150px;
    margin-bottom:8px;
  }

  a {
    clear:both;
    margin-left:8px;
  }

  select {
    clear:both;
  }

  .dvs-select-wrapper {
    clear:both;
    float:right;
    width:150px;
    font-size:11px;
    margin-bottom:8px;
  }
}

#dvs-admin-title {
  clear:both;
  margin-bottom:15px;
  padding:50px 0 100px;
  text-align:     center;

  h1 {
    display: inline-block;
    padding: 15px 20px;
    margin-top:     30px;
    color: $blue;
    font-size:50px;
    text-transform: uppercase;
    border: 1px solid $blue;

    @include text-gradient($light-blue, $blue);
    @include gradient-border($light-blue, $blue);

    span {
      text-fill-color:  $blue;
      -moz-text-fill-color:  $blue;
      -webkit-text-fill-color:  $blue;
    }
  }
}

.dvs-inset-text {
  @include insetFormDude();

  max-width:300px;
  overflow-x:scroll;

  a {
    color:$red;
  }
}

.dvs-opaque-text {
  opacity:0.5;
}

.dvs-admin-container {
  position:relative;
  margin:0 auto;
  @include clearfix;

  background-image:linear-gradient(lighten($bodyBgColor, 5%), $bodyBgColor)
}

/* Tables */
table.dvs-admin-table {
  margin:0 0 50px;
  width:100%;
  font-size:13px;
  box-shadow:0 2px 12px 6px rgba(0,0,0,.1);
  border-radius:4px;
  @include background(linear-gradient($secondaryTableBgColor, $primaryTableBgColor));

  thead {

    border-radius:3px;

    th, th a {
      color:darken($tableTextColor, 10%);
      text-decoration:none;
      text-transform: uppercase;
    }

    th {
      padding:15px 20px;
      border-bottom:1px solid lighten($primaryTableBgColor, 8%);
      vertical-align: middle;
    }
  }

  tbody tr {
    min-height:60px;
    color:$tableTextColor;
    background-color:$primaryTableBgColor;

    &.dvs-table-row-even td {
      border-bottom:1px solid lighten($primaryTableBgColor, 4%);
    }

    &.dvs-table-row-odd td {
      background-color:$secondaryTableBgColor;
      border-bottom:1px solid darken($primaryTableBgColor, 3%);
    }

    td {
      padding:20px 30px;
      border-right:1px solid lighten($primaryTableBgColor, 4%);
      vertical-align: middle;

      a:not(.dvs-button) {
        color:$blue;

        &.dvs-expand-details {
          display:inline-block;
          color:darken($blue, 20%);
          font-size:$bodyMainFontSize - 3;
          font-weight:$bodyMainFontWeight;
        }
      }

      &.dvs-stacked-col {
        div {
          margin-bottom:8px;
        }
      }
    }
  }

  tfoot td { padding:5px }

  td:last-child,
  th:last-child { border-right:0px }

  .dvs-lang-flag { margin:0 2.5px }

  input[type=text] {
    min-width:200px;
    max-width:300px;
    margin-left:10px;
    @include insetFormDude();
  }

  .dvs-publish-dates {

    p {
      margin: 10px 0;
    }

    input[type=text] {
      min-width : 45%;
      max-width : 100px;
    }
  }

  .dvs-badge {
    &.dvs-content-requested {
      text-align:center;
      width:40%;
      clear:both;
      margin-bottom:3px;
      padding:0 2px;
    }
  }
}


.dvs-loading,
#dvs-sidebar-loading {
  font-family: $sidebarMainFont;
  line-height:1.4em;
  padding: 12px 20px;
  color: white;
  width: 200px;
  margin-left: 100px;
  background-color: transparentize(#222, 0.1);
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius:4px;
  text-align:center;
  opacity:1;
  @include transition(all 1s ease);

  &.onload {
    opacity:0;
  }
}

#dvs-sidebar-loading {
    position:absolute;
    top:225px;
    margin-left:-100px !important;
    z-index:14000;
}

.dvs-link-part {
  text-decoration: none;
  color:$bodyActiveLinkColor;
  padding:4px 4px;
  font-size:11px;
  overflow:hidden;

  &:after {
    content: "/";
    margin-left:7px;
  }

  &:first-child:after,
  &:last-child:after, {
    content:"";
    margin-left:auto;
  }

  &:first-child { border-radius: 2px 0 0 2px }
  &:last-child { border-radius: 0 2px 2px 0 }
}
