/* Common */
.dvs-absolute { position: absolute; }
.dvs-relative { position: relative; }
.dvs-fixed    { position: fixed; }

.dvs-collapsed,
.dvs-hidden   { display: none }

/* Application-Specific */
.preload * {
  @include transition(none !important);
}

#dvs-mode,
#dvs-container,
#dvs-pusher,
#dvs-content {
  height: 100%;
}

#dvs-container {
  overflow: hidden;
  background: #e9e9e9;

  @include perspective(4000px);
  @include transition(all 0.5s);
  @include background-image(linear-gradient(top, #e9e9e9 0%, #fefefe 50%, #e7e7e7 51%, #ffffff 100%));
}

#dvs-content {
  position: relative;
  z-index: 9090;
  background-color: #FFF;
}

#dvs-content-edit-shadow {
  position: absolute;
  bottom: -200px;
  left: 10%;
  width: 80%;
  height: 100px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 25% / 50px;
  box-shadow: 0 0 80px 25px rgba(0, 0, 0, 0.1);
}

#dvs-pusher {
  position: relative;
  left: 0;

  @include transition(all 0.5s);
}

#dvs-blocker {
  cursor: pointer;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, .5);

  @include transition(opacity 0.5s);
}

#dvs-admin-mode-button,
#dvs-node-mode-button {
  position: fixed;
  display:block;
  bottom: 0px;
  right: 122px;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 3px 0 0 0;
  border-width: 0;
  background-color: transparentize(#000000, 0.3);
  cursor: pointer;
  outline: none;
  z-index: 10005;
  text-align:center;
  vertical-align: middle;
  font-weight:bold;
  font-size:12px;
  text-transform: uppercase;

  @include transition(all 0.5s);

  &:hover {
    background-color: transparentize(#000000, 0.1);
  }
}

#dvs-admin-mode-button {
  right: 20px;
  border-radius: 0 3px 0 0;
}

.dvs-select-wrapper{
  position         : relative;
  display          : inline-block;
  width            : 100%;
  cursor           : pointer;
  background-color : $sidebarFormBgColor;
  padding          : $sidebarFormPadding;

  .dvs-holder {
    display        : block;
    float          : left;
    margin         : 0 5px 0 12px;
    white-space    : nowrap;
    overflow       : hidden;
    cursor         : pointer;
    position       : relative;
    text-transform : uppercase;
    z-index        : 2;
  }

  select {
    margin         : 0;
    position       : absolute;
    z-index        : 3;
    cursor         : pointer;
    outline        : none;
    opacity        : 0;
    width: 100%;

    /* CSS hacks for older browsers */
    _noFocusLine   : expression(this.hideFocus=true);
    -ms-filter     :"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter         : alpha(opacity=0);
    -khtml-opacity : 0;
    -moz-opacity   : 0;
  }

  span { // This is the label for the faux select
    width          : 75%;
    overflow       : hidden;
  }

  &:hover {
    border-color   : #239fdb;
  }

  &:after {
    position       : absolute;
    content        : " ";
    right          : 12px;
    top            : 48%;
    width          : 0;
    height         : 0;
    border-left    : 5px solid transparent;
    border-right   : 5px solid transparent;
    border-top     : 5px solid $sidebarSelectArrowColor;
  }
}