// This very wide wrapper is to override the very wide public reset
// This probably needs to be rethought out.
#dvs-mode.dvs-sidebar-mode {

  line-height:12px;
  font-size:12px;

  #dvs-sidebar.loaded {
    opacity: 1;
    left: $sidebarDistanceFromLeft;
    @include transform(translate3d(0, 0, 0));
  }

  #dvs-pusher {
    @include transform(translate3d(200px, 0, -1000px) rotateY(-10deg));
  }

  #dvs-node-mode-button {
    bottom: -50px;
    opacity: 0;
    font-family: $sidebarMainFont;
  }

  #dvs-admin-mode-button {
    font-family: $sidebarMainFont;
  }

  // Only items inside
  // the sidebar are effected here.
  // Trying to contain the styles of
  // the sidebar to prevent it from
  // effecting the layout of the page.
  #dvs-sidebar-container {

    h1, h2, h3, h4, h5, h6 {
      font-size: $sidebarHeaderFontSize;
      margin-bottom:10px
    }

    label {
      float:left;
    }

    .fancy-sidebar-checkbox {
      > label {
        margin:5px 0 0 90px ;
      }
    }
  }

  #dvs-sidebar-contents-container {
    margin: $sidebarGeneralPadding;
    margin-top: 0;
  }

  .dvs-sidebar-elements-and-groups,
  #dvs-sidebar-elements-and-groups {
    clear: both;
    margin: $sidebarGeneralPadding;

    .dvs-sidebar-elements-and-groups {
      margin: 0;
    }
  }

  #dvs-sidebar-container {
    overflow:hidden;
    position:fixed;
    height:100%;
    width:$sidebarWidth + 100;
    top:0;
    left:0;

    &.fat {
      width: $sidebarFatWidth;
    }

    &.fat #dvs-sidebar-scroller {
      width: 101%;
    }

    &.fat #dvs-sidebar-scroller #dvs-sidebar{
      width: 97%;
    }
  }

  #dvs-sidebar-scroller {
    overflow-y: scroll;
    overflow-x:hidden;
    height:100%;
    width:$sidebarWidth + 150;
  }

  #dvs-sidebar {
    top: $sidebarDistanceFromTop;
    z-index: 10010;
    opacity: 0;
    width: $sidebarWidth;
    color: $sidebarTextColor;
    @include background(linear-gradient(lighten($sidebarBgColor, 3%), darken($sidebarBgColor, 3%)));
    font-size: $sidebarMainFontSize;
    font-family: $sidebarMainFont;
    font-weight: $sidebarMainFontWeight;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: $sidebarRoundedCorners;
    margin: 35px;
    @include transition(all 0.5s);
    @include transform(translate3d(-100%, 0, 0));

    hr {
      clear:both;
      float:left;
      width:100%;
      margin:20px auto;
      border-color:darken($blue, 20%);
      border-style:solid;
      border-width:0;
      border-bottom-width:1px;

      &.dvs-thick { border-bottom-width:2px }
      @include clearfix;
    }

    .dvs-sidebar-group {
      display:none;
    }

    textarea,
    select,
    input[type=text] {
      color:$sidebarTextColor;
    }

    select {
      background-color: $black;
      padding:$sidebarGeneralPadding;
      top:0;
      bottom:0;
      left:0;
      right:0;
    }

    #dvs-sidebar-loading {
      height: 40px;
      line-height:40px;
    }
  }





  #dvs-sidebar-title {
    @include clearfix;
    clear:both;
    padding: $sidebarGeneralPadding;
    border-radius: $sidebarRoundedCorners $sidebarRoundedCorners 0 0;
    text-transform: uppercase;

    h1 {
      margin: 0;
      float: left;
      color: $sidebarTextColor;
      font-family: $sidebarMainFont;
      font-size: $sidebarHeaderFontSize;
      font-weight: $sidebarHeaderFontWeight;
    }

    a {
      float: right;
      cursor:pointer;
    }
  }






  #dvs-sidebar-groups, #dvs-sidebar-versions-selector {
    clear: both;
    float: left;

    // Add / Edit Buttons next to version selector
    button {
      float: right;
      width: 60px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left:3px;
    }

    // Version Selector
    .dvs-select-wrapper {
      width:160px;
      height:32px;
      padding:8px;

      .dvs-holder {
        font-size:10px;
      }
    }

    #dvs-sidebar-manage-groups {
      width:125px;
    }

    #dvs-sidebar-add-version {
      width:62px;
    }
  }

  #dvs-sidebar-groups {
    margin-top: 3px;
  }





  #dvs-sidebar-breadcrumbs {
    display:none;
    clear:both;
    text-transform: uppercase;
    font-size: $sidebarMainFontSize - 2;
    font-family: $sidebarMainFont;
    padding: 0 $sidebarGeneralPadding $sidebarGeneralPadding;
    color: $sidebarBreadcrumbActive;

    a {
      color:$sidebarBreadcrumbLink;
    }

    span {
      position:relative;
      top:-3px;
      margin:0 8px;
      font-size:1px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 0 3px 5px;
      border-color: transparent transparent transparent $sidebarBreadcrumbLink;
    }
  }







  .dvs-sidebar-elements, .dvs-sidebar-group {
    @include clearfix;

    position: relative;

    button {
      float: left;
      margin: 4px 4px 8px 4px;
      height: 48px;
      padding: 10px 12px;
      outline: none;
      cursor: pointer;
      width: ($sidebarWidth / 2) - 26;
      color: $french-gray;
      vertical-align: middle;
      text-transform: uppercase;
      background-color:transparent;
      font-weight:400;
      font-size:10px;
      border: 1px solid $french-gray;
      border-radius: $buttonBorderRadius;

      @include transition( all .4s ease );

      &:nth-child(odd) {
        margin-left: 0;
      }
      &:nth-child(even) {
        float: right;
        margin-right: 0;
      }

      &:hover{
        background-color:$blue;
        color:$white;
      }

      &.dvs-content-requested {
        background-color:transparentize($red, 0.4);
        border:1px solid transparentize($red, 0.2);
        color:$white;

        &:hover {
          background-color:$red;
        }
      }
    }
    > div > div {
      @include clearfix;
      padding: 0 15px 18px 12px;
      box-sizing: content-box;
      overflow: auto;
      height: 400px;
      form {
        display: block;
        @include clearfix;
      }
    }
    h4, label {
      color: $sidebarTextColor;
      font-size: $sidebarMainFontSize;
      font-family: $sidebarMainFont;
      text-transform: uppercase;
    }
    h4 {
      width:100%;
      margin: 18px 0 0 0;
      color: lighten(#10a5ff, 20%);
      font-size: $sidebarMainFontSize + 6;
      font-family: $sidebarMainFont;
      font-weight: $sidebarHeaderFontWeight;
      text-transform: none;
      border-bottom: 1px solid #10a5ff;
    }
  }







  .dvs-sidebar-collection-group,
  #dvs-sidebar-current-element {
    clear:both;
    padding: 0 $sidebarGeneralPadding $sidebarGeneralPadding;
    font-size: $sidebarMainFontSize + 1;
    font-family: $sidebarMainFont;
    display:none;

    label {
      display:block;
      color: darken($sidebarTextColor, 15%);
      font-family: $sidebarMainFont;
      font-weight: $sidebarHeaderFontWeight + 100;
      margin-bottom:8px;
    }

    .dvs-property {
      @include clearfix;
      clear:both;
      margin-top:20px;

      &:first-child {
        margin-top:0;
      }

      .dvs-select-wrapper {
        width: auto;
        margin-left:15px;
        padding-top:2px;
        padding-right:30px;
        height:30px;
        font-size:10px;

        .dvs-holder {
          margin: 8px 5px 0 0;
        }
      }

      span {
        width: auto;
      }
    }

    input[type="text"],
    textarea {
      width:100%;
      padding: $sidebarGeneralPadding / 2;
      font-family: $sidebarMainFont;
      background-color: darken($sidebarBgColor, 15%);
      border-width:0;
    }

    .dvs-sidebar-button-grid {
      @include clearfix;
      margin: $sidebarGeneralPadding 0;

      label,
      button {
        float:left;
        margin:2px 2px 0 0;
        padding: 15px 3px;
        text-align: center;
        cursor: pointer;
        width:185px;

        &.dvs-button-secondary {
          width:99px;
        }
      }

      label {
        font-family: $sidebarMainFont;
        background-color:desaturate($primaryButtonBgColor, 100%);
        @include transition( all .4s ease );
      }

      input[type=checkbox] {
        position:absolute;
        visibility: hidden;
        font-family: $sidebarMainFont;
        background-color:transparent;
        color: $blue;

        & + label.dvs-button-secondary {
          width:185px;
        }

        &:checked + label {
          font-family: $sidebarMainFont;
          background-color:$blue;
          color: $white;
        }
      }
    }

    .dvs-options-manager,
    .dvs-checkboxes-manager {
      width:100%;

      td {
        vertical-align: middle;
      }

      .dvs-checkbox-fields,
      .dvs-option-fields {
        td {
          padding:1px 1px 0 0;
        }

        input[type=text] {
          background-color:lighten($sidebarBgColor, 5%);
        }
      }

      .dvs-select-wrapper {
        margin:-2px 3px 0;
        width:60px;
      }
    }
  }

  // The collection "current element" work a little differently
  // and are 'revealed' under the li of the element button.
  .dvs-sidebar-collection-group {
    padding: 0;
    margin: 0;

    >div {
      margin: 0 -$sidebarGeneralPadding;
    }
  }




  .dvs-sidebar-discard, .dvs-sidebar-save-group, .dvs-sidebar-save-model, .dvs-sidebar-save-model-groups {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 27px 15px;
    color: $sidebarSaveButtonTextColor;
    font-family: $sidebarMainFont;
    font-size: $sidebarMainFontSize + 10;
    font-weight: $sidebarMainFontWeight + 200;
    text-transform: uppercase;
    background-color: $sidebarSaveButtonBgColor;
    border-width: 0;
  }
  .dvs-sidebar-discard {
    padding: 10px;
    color: $sidebarDiscardButtonTextColor;
    font-family: $sidebarMainFont;
    font-size: $sidebarMainFontSize + 4;
    background-color: $sidebarDiscardButtonBgColor;
  }





  .dvs-sidebar-datetime-element {
    .xdsoft_datetimepicker {
      .xdsoft_datepicker {
        width:204px;
        float: left;
        margin-left:8px;
      }

      .xdsoft_month {
        text-align:center;
        width:94px;
      }

      .xdsoft_year {
        width:45px;
      }
    }
  }






  #dvs-sidebar-collections {
    display:none;
    width:100%;
    height:100%;
    h2 {
      margin: 0;
      font-size: 20px;
      padding: 15px;
      font-weight: 300;
      background-color: #fff;
      color: darken($sidebarBgColor, 10%);
    }
    hr {
      margin: 10px auto;
      width: 50%;
      border-top-color: lighten($sidebarBgColor, 20%);
    }
    p {
      font-style: italic;
      margin: 0 30px;
      text-align: center;
      color: lighten($sidebarBgColor, 40%);
    }

    .dvs-new-collection {
      background-color: darken($sidebarBgColor, 5%);
      padding: 15px 12px;
      input {
        width: 100%;
        border-radius: 4px;
        padding: 8px 12px;
        border-width: 0;
        color: $sidebarBgColor;
      }
      button {
        margin-top: 8px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 400;
        font-size:10px;
      }
      p {
        margin-bottom: 16px;
      }
    }
  }




  #dvs-collection-instances-sortable {
    li {
      position: relative;
      margin: 8px 12px;
      background-color:lighten($sidebarBgColor, 5%);
      font-size: 20px;
      font-weight: 300;
      cursor: move;

      input[type="text"] {
        width: 200px;
        font-size: 12px;
        padding: 12px;
        margin-left: 25px;
        background-color: transparent;
        border-width: 0;
        outline-width: 0;
      }

      &:before {
        font-family: "Ionicons";
        content: "\f20d";
        position: absolute;
        left: 0.6em;
        top: 0.7em;
        color:darken($sidebarTextColor, 25%);
      }

      .dvs-collection-instance-remove {
        float: right;
        padding: 8px 12px;
        margin: 3px;
        color:darken($sidebarTextColor, 5%);
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        cursor:pointer;
      }

      &.dvs-sort-placeholder {
        height:50px;
        margin:8px 12px;
        background-color:darken($sidebarBgColor, 4%);

        &:before {
          background:transparent;
          box-shadow:none;
        }
      }
    }
  }





  .dvs-group-edit {
    h3 {
      width: 320px;
      height: 75px;
      line-height: 75px;
      padding: 0 30px;
      margin: 0;
      outline: none;
      cursor: pointer;
      font-weight: 300;
      font-size: 18px;
      border-top: 1px solid lighten($sidebarBgColor, 50%);
      border-bottom: 1px solid darken($sidebarBgColor, 5%);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      @include background-image(linear-gradient(90deg, rgba(244, 244, 244, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%));
      span {
        display: none;
      }
    }

    .ui-widget-content {
      background: none;
      background-color: darken($sidebarBgColor, 3%);
      border-width: 0px;
      border-bottom: 1px solid lighten($sidebarBgColor, 20%);
    }
  }





  a.page-sort {
    text-decoration: underline;
    background: no-repeat right 7px;
    &.desc {
      padding-right: 30px;
      background-image: url(../img/sort-desc.png);
    }
    &.asc {
      padding-right: 30px;
      background-image: url(../img/sort-asc.png);
    }
  }




  @include dvs-buttons;

  .dvs-select-wrapper {
    float: left;
    width: 127px;
    border:1px solid $french-gray;
    padding:8px;
  }

  #dvs-sidebar-language-selector {
    position:absolute;
    top:20px;
    right:25px;
    margin:0 20px 3px 0;
    float: right;
    .dvs-select-wrapper {
      width: 62px;
      font-size:10px;
      height:25px;

      .dvs-holder {
        margin-top:0;
      }
    }
  }

  #dvs-sidebar-save-notification {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: $blue;
    padding: 15px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    margin-left: -50px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

  .saving {
    #dvs-sidebar-save-notification {
      display:block;
    }
  }

}

.dvs-sidebar-save-group {
  -webkit-transition: all 2s;
  transition: all 2s;
  pointer: cursor;
}
