@mixin dvs-buttons() {

.dvs-button {
  display:inline-block;
  padding:$regularButtonPadding;
  color:$primaryButtonBgColor;
  background-color: transparent;
  border:1px solid $primaryButtonBgColor;
  text-transform:uppercase;
  text-decoration:none;
  border-radius:$buttonBorderRadius;
  box-sizing:border-box;
  font-size: 11px;

  &.dvs-button-solid {
    background-color:$primaryButtonBgColor;
    color: ($primaryButtonTextColor);
  }

  &.dvs-button-tiny {
    padding:6px;
    font-size:10px;
  }

  &.dvs-button-small {
    padding:8px;
    font-size:10px;
  }

  &.dvs-button-large {
    padding:16px 40px;
    font-size:14px;
  }

  &.dvs-button-block {
    display:block;
    width:100%;
    padding-right:0;
    padding-left:0;
  }

  &.dvs-button-secondary {
    border:1px solid $secondaryButtonBgColor;
    color:$secondaryButtonBgColor;

    &.dvs-button-solid {
      background-color:$secondaryButtonBgColor;
      color:$secondaryButtonTextColor;
    }
  }

  &.dvs-button-inactive {

    border:1px solid $inactiveButtonBgColor;
    color:$inactiveButtonBgColor;

    &.dvs-button-solid {
      background-color:$inactiveButtonBgColor;
      color:$inactiveButtonTextColor;
    }
  }

  &.dvs-button-dark {
    background-color:lighten($black, 5%);
    color:$secondaryButtonTextColor;
  }

  &.dvs-button-gray {
    border:1px solid $french-gray;
    color:$french-gray;

    &.dvs-button-solid {
      background-color:$french-gray;
      color:$black;
    }
  }

  &.dvs-button-danger {
    border:1px solid $dangerButtonBgColor;
    color:$dangerButtonBgColor;

    &.dvs-button-solid {
      background-color:$dangerButtonBgColor;
      color:$dangerButtonTextColor;
    }
  }

  &.dvs-button-success {
    border:1px solid $successButtonBgColor;
    color:$successButtonBgColor;

    &.dvs-button-solid {
      background-color:$successButtonBgColor;
      color:$successButtonTextColor;
    }
  }

  &.dvs-button-outset {
    color:$french-gray;
    background-color:$primaryTableBgColor;
    border:1px solid darken($primaryTableBgColor, 3%);
    border-radius:4px;
  }
}

.dvs-button-group {
  white-space:nowrap;

  .dvs-button {
    display:inline-block !important;
    margin-left:-4px;
    border-radius:0;
    border-right-width:1px;
    border-left-width:0;

    &:first-child {
      border-radius:3px 0 0 3px;
      border-left-width:1px;
      margin-left:0;
    }

    &:last-child {
      border-radius:0 3px 3px 0;
      border-right-width:1px;
    }
  }

  form {
    display:inline-block;

    &:last-child input[type="submit"] {
      border-radius:0 3px 3px 0;
    }
  }
}

input[type="submit"]{
  &.dvs-button.dvs-button-small {
    padding:6px 7px 8px;
    cursor:pointer;
  }
}

.pagination {
  margin:25px 30px;
  border-radius:$buttonBorderRadius;
  @include clearfix;

  li {
    float:left;
    display:inline-block;
    background-color: transparent;
    border:1px solid $defaultButtonBgColor;
    border-right-width:0;

    a, span {
      display:block;
      padding:$smallButtonPadding;
      color:$defaultButtonTextColor;
    }

    &.active {
      background-color:darken($primaryTableBgColor,5%);
      font-weight:$bodyMainFontWeight + 300;
    }

    &.disabled {
      background-color:lighten($primaryTableBgColor, 2%);
      color:darken(#ccc, 15%);
      cursor:not-allowed;
    }

    &.dvs-more-results {
      span { padding:10px 8px 10px 0 }
    }

    &:first-child {
      border-bottom-left-radius:$buttonBorderRadius;
      border-top-left-radius:$buttonBorderRadius;
    }

    &:last-child {
      border-bottom-right-radius:$buttonBorderRadius;
      border-top-right-radius:$buttonBorderRadius;
      border-right-width:1px;
    }
  }
}


.dvs-select-wrapper {
  position         : relative;
  display          : inline-block;
  width            : 100%;
  cursor           : pointer;
  background-color : transparent;
  border-radius    : $buttonBorderRadius;
  border           : 1px solid $primaryButtonBgColor;
  color            : $french-gray;
  padding          : $sidebarFormPadding;

  .dvs-holder {
    display        : block;
    float          : left;
    margin         : 0 5px 0 12px;
    white-space    : nowrap;
    overflow       : hidden;
    cursor         : pointer;
    position       : relative;
    text-transform : uppercase;
    z-index        : 2;
  }

  select {
    margin         : 0;
    position       : absolute;
    z-index        : 3;
    cursor         : pointer;
    outline        : none;
    opacity        : 0;
    width          : 100%;

    /* CSS hacks for older browsers */
    _noFocusLine   : expression(this.hideFocus=true);
    -ms-filter     :"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter         : alpha(opacity=0);
    -khtml-opacity : 0;
    -moz-opacity   : 0;
  }

  span { // This is the label for the faux select
    width          : 75%;
    overflow       : hidden;
  }

  &:after {
    position       : absolute;
    content        : " ";
    right          : 12px;
    top            : 48%;
    width          : 0;
    height         : 0;
    border-left    : 5px solid transparent;
    border-right   : 5px solid transparent;
    border-top     : 5px solid $french-gray;
  }

  &.dvs-button-solid {
    background-color:$primaryButtonBgColor;
    color: $primaryButtonTextColor;

    &:after {
      border-top-color: $black;
    }
  }

  &.dvs-select-small {
    padding:8px 0px;
  }

  &.dvs-select-secondary {
    border:1px solid $secondaryButtonBgColor;
    color:$secondaryButtonBgColor;

    &.dvs-select-solid {
      background-color:$secondaryButtonBgColor;
      color:$secondaryButtonTextColor;
    }
  }

  &.dvs-select-inactive {

    border:1px solid $inactiveButtonBgColor;
    color:$inactiveButtonBgColor;

    &.dvs-select-solid {
      background-color:$inactiveButtonBgColor;
      color:$inactiveButtonTextColor;
    }
  }

  &.dvs-select-gray {
    border:1px solid $french-gray;
    color:$french-gray;

    &.dvs-select-solid {
      background-color:$french-gray;
      color:$black;
    }
  }

  &.dvs-select-danger {
    border:1px solid $dangerButtonBgColor;
    color:$dangerButtonBgColor;

    &.dvs-select-solid {
      background-color:$dangerButtonBgColor;
      color:$dangerButtonTextColor;
    }
  }

  &.dvs-select-success {
    border:1px solid $successButtonBgColor;
    color:$successButtonBgColor;

    &.dvs-select-solid {
      background-color:$successButtonBgColor;
      color:$successButtonTextColor;
    }
  }
}

td {
  .dvs-select-small {
    margin-top:5px;
  }
}

}

@include dvs-buttons;