#dvs-admin {
   #dvs-modal-container {
      h1,h2,h3,h4,h5,h6 {
         color: $black;
      }

      h6 {
         font-weight:bold;
         margin:15px 0;
         padding:10px;
         border:1px solid darken($light-gray, 10%);
         border-radius:4px;
         background-color: $light-gray;
      }

      label {
         width: 90px;
         display: inline-block;
         margin-bottom:8px;
         color:darken($light-gray, 30%);
      }

      input {
         margin-bottom:8px;

         &[type=text] {
            padding:8px 12px;
         }
      }

      .js-save-btn {
         margin-top:5px;
      }
   }

   #dvs-admin-modal {
      position:absolute;
      top:50%;
      left:50%;
      width:500px;
      margin-left:-250px;
      margin-top:-200px;
      z-index:20000;

      .dvs-admin-form-horizontal {
        float:left;
        @include background-image(linear-gradient($bodyBgColor, darken($bodyBgColor, 5%)));
        box-shadow: 0 0 12px rgba(0,0,0,0.4);
        padding-top:30px;

         h4 {
          color:$french-gray;
         }
      }
   }

   #dvs-admin-blocker {
      position:fixed;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:transparentize($black, .45);
      z-index:12000;
   }
}