#dvs-admin {
	.mjs-nestedSortable-error {
		background: #fbe3e4;
		border-color: transparent;
	}

	ol {
		margin: 0;
		padding: 0;
		padding-left: 30px;
	}

	ol.sortable, ol.sortable ol {
		margin: 0 0 0 25px;
		padding: 0;
		list-style-type: none;
	}

	ol.sortable {
		margin: 4em 0;
	}

	.sortable li {
		margin: 5px 0 0 0;
		padding: 0;
	}

	.sortable li div  {
		border: 1px solid #d4d4d4;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 6px;
		margin: 0;
		cursor: move;
		background: $primaryTableBgColor;
		@include background-image(linear-gradient($secondaryTableBgColor, $primaryTableBgColor));
		border-color: darken($primaryTableBgColor, 4%);

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	}
}