ul.js-tab-links {
  display:block;
  @include clearfix;

  li {
    display:block;
    float:left;
    padding:12px 4% 12px 4%;
    font-weight:500;
    color:transparentize($dashboardCardTextColor, 0.2);
    border-right:1px solid darken($bodyFormBgColor, 5%);
    background-color:transparentize($bodyFormBgColor, 0.3);
    cursor:pointer;

    &.dvs-active {
      color:darken($white, 12%);
      background-color:lighten($bodyFormBgColor, 2%);
    }

    &:last-of-type {
      border-right:none;
    }
  }
}