<form id="dvs-sidebar-field-form" class="dvs-sidebar-datetime-element">
    <div class="dvs-editor-values">

        <div class="dvs-property">
            <label>Plaintext formatted date</label>
            <input type="text" name="datetime" value="{{ date values.datetime 'F jS Y h:i A' }}">
        </div>

       <div class="dvs-property">
            <label>Pick A Specific Date</label>
            <input type="text" name="datetimevalue" value="{{ date values.datetimevalue 'Y-m-d H:i:s'}}" class="dvs-datetime">
        </div>

        <div class="dvs-property">
            <label>Format</label>
            <select name="format" class="dvs-select">
                {{#select values.format}}
                    <option value="F jS Y h:i A">{{ date "now" "F jS Y h:i A" }}</option>
                    <option value="F jS Y">{{ date "now" "F jS Y" }}</option>
                    <option value="m/d/Y h:i A">{{ date "now" "m/d/Y h:i A" }}</option>
                    <option value="m/d/Y">{{ date "now" "m/d/Y" }}</option>
                {{/select}}
            </select>
        </div>

        <div data-view="site-wide-field"></div>

        <div data-view="content-requested"></div>

        <div data-view="reset-values"></div>
    </div>
</form>

{{#script}}
    devise.require(['app/editor/fields/datetime'], function(obj) { obj.init(); });
{{/script}}