<form id="dvs-sidebar-field-form">
    <div class="dvs-editor-values">
        <label for="file">File Path</label>
        <input type="text" name="file" value="{{ values.file }}">

        <div class="dvs-sidebar-button-grid dvs-property">
            <button type="button" data-target="file" class="browse dvs-button dvs-button-solid dvs-button-success">Select or Upload File</button>
        </div>

        <div data-view="site-wide-field"></div>

        <div data-view="content-requested"></div>

        <div data-view="reset-values"></div>
    </div>
</form>

{{#script}}
    devise.require(['app/editor/fields/file'], function(obj){
        var mediaManagerUlr = '{{ page.urls.media_manager }}';
        obj.init(mediaManagerUlr);
    });
{{/script}}