<form id="dvs-sidebar-field-form">

    <div class="dvs-editor-values">

        <label>{{ field.human_name }}</label>

        <hr>

        <table class="dvs-items-manager">
            <thead>
                <tr>
                    <th style="padding-bottom:8px;">Item Text</th>
                    <th style="padding-bottom:8px;"><button type="button" class="dvs-button dvs-button-small dvs-new-item dvs-button-secondary">New</button></th>
                </tr>
            </thead>
            <tbody>
	            {{#each values.items}}
	                <tr class="dvs-item-fields">
	                    <td style="width:80%;"><input type="text" name="items[][value]" value="{{ value }}"></td>
	                    <td style="width:20%;"><button type="button" class="dvs-button dvs-button-small dvs-table-row-delete">Delete</button></td>
	                </tr>
                {{/each}}
            </tbody>
        </table>

        <div data-view="site-wide-field"></div>

        <div data-view="content-requested"></div>

        <div data-view="reset-values"></div>
    </div>
</form>

<div style="display:none">
    <!--templates will be used by js to create new table rows and items -->
    <table><tbody class="dvs-row-template">
        <tr class="dvs-item-fields">
            <td style="width:80%;"><input type="text" name="items[][value]" value=""></td>
            <td style="width:20%;"><button type="button" class="dvs-button dvs-button-small dvs-table-row-delete">Delete</button></td>
        </tr>
    </tbody></table>
</div>

{{#script}}
    devise.require(['app/editor/fields/list'], function(obj) { obj.init(); });
{{/script}}