.dvs-test-title {
  text-transform: uppercase;
  font-size:16px;
  letter-spacing: 0.2em;
  color:#444;
}

.dvs-test-block {
  @include clearfix;

  h3 {
    text-transform: uppercase;
    font-size:12px;
    letter-spacing: 0.2em;
    font-weight:bold;
    color:#888;
  }

  img.dvs-test-frame {
    border:8px solid white;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
  }

  li {
    padding:15px;
  }

  pre {
    margin:30px 0;
  }

  td {

  }
}

#dvs-admin {
  .dvs-test-blocks {

    h3 {
      font-size:18px;
      font-weight:400;
      color:$black;
      margin-bottom:15px;
    }

    tbody {
      border-radius: 5px 0 0 5px;
    }

    pre {
      margin:15px 0;
    }

    code {
      font-family:"Courier New", Courier, monospace;
      padding:20px;
      width:50%;
    }

    p {
      margin:8px 0 15px 0;
    }

  }
}
