APP_ENV=local
APP_DEBUG=true
APP_KEY=i9tA3pH8ffLBjp0sFYYei1UnTd8HdS2Q

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

ADMIN_EMAIL=no-reply@devisephp.com
ADMIN_USERNAME=deviseadmin
DB_MIGRATIONS=yes
DB_SEEDS=yes
CONFIGS_OVERRIDE=yes