<div id="dvs-sidebar-title">
    <h1>{{ node.human_name }}</h1>
    <a class="dvs-sidebar-close dvs-button dvs-button-danger dvs-button-solid dvs-button-tiny">
        <span class="ion-android-close"></span>
    </a>
</div>

<div id="dvs-sidebar-language-selector" data-partial="language-selector"></div>

<div id="dvs-sidebar-contents-container">
    <div id="dvs-sidebar-versions-selector" data-partial="versions-selector"></div>
    <div id="dvs-sidebar-groups-wpr"></div>
    <hr class="thick">
	<div id="dvs-sidebar-groups-wpr" data-partial="collection-selector"></div>
</div>
