<div id="dvs-sidebar-header" data-view="header"></div>

<div class="dvs-property dvs-clear" data-partial="date-pickers"></div>

<div id="dvs-sidebar-breadcrumbs" data-view="breadcrumbs"></div>

<div id="dvs-sidebar-collections" data-view="manage"></div>

<ul id="dvs-sidebar-elements-and-groups" data-view="grids"></ul>

<div id="dvs-sidebar-element-forms">
    <div id="dvs-sidebar-current-element" data-view="field"></div>
    <button type="button" data-view="save-button" class="dvs-sidebar-save-group">Save Changes</button>
</div>