<div id="dvs-sidebar-header">
    <div id="dvs-sidebar-title">
        <h1>{{ node.human_name }}</h1>
        <a class="dvs-sidebar-close dvs-button dvs-button-danger dvs-button-solid dvs-button-tiny">
            <span class="ion-android-close"></span>
        </a>
    </div>

    <div id="dvs-sidebar-language-selector" data-partial="language-selector"></div>

    <div id="dvs-sidebar-contents-container">
        <div id="dvs-sidebar-versions-selector" data-partial="versions-selector"></div>
        <div id="dvs-sidebar-groups-wpr"></div>
        <hr class="thick">
    </div>
</div>

<div class="dvs-property dvs-clear" data-partial="date-pickers"></div>

<div data-view="breadcrumbs" id="dvs-sidebar-breadcrumbs"></div>

<div id="dvs-sidebar-element-forms">
    <div data-view="content" id="dvs-sidebar-current-element" style="display: block"></div>
    <button data-view="save-button" type="button" class="dvs-sidebar-save-group">Save</button>
</div>