<div id="dvs-sidebar-header">

    <!-- sidebar title -->
    <div id="dvs-sidebar-title">
        <h1 data-view="sidebar-title">{{ node.human_name }}</h1>
        <a class="dvs-sidebar-close dvs-button dvs-button-danger dvs-button-solid dvs-button-tiny">
            <span class="ion-android-close"></span>
        </a>
    </div>

    <!-- language selector -->
    <div id="dvs-sidebar-language-selector" data-view="language-selector">

    </div>

    <!-- page versions selector -->
    <div id="dvs-sidebar-contents-container">
        <div id="dvs-sidebar-versions-selector" data-view="versions-selector">

        </div>
        <div id="dvs-sidebar-groups-wpr"></div>
        <hr class="thick">
        <div id="dvs-sidebar-groups-wpr" data-view="group-selector"></div>
    </div>
</div>

<!-- date pickers -->
<div class="dvs-property dvs-clear" data-view="date-pickers">

</div>

<!-- bread crumbs -->
<div data-view="breadcrumbs" id="dvs-sidebar-breadcrumbs"></div>

<!-- grid view -->
<div data-view="grid"></div>

<!-- content and save btn views -->
<div id="dvs-sidebar-element-forms">
    <div data-view="content" id="dvs-sidebar-current-element" style="display: block"></div>
    <button data-view="save-button" type="button" class="dvs-sidebar-save-group">Save</button>
</div>