vendor
composer.phar
npm-debug.log
.DS_Store
tests/_log
tests/log
tests/reports/*
tests/bootstrap/app/storage
node_modules
.sami
.idea
tests/functional/test.png
tests/_output/*
tests/bootstrap/codeception/_output/*